<%# Contact page view %>
<% provide(:title, "Contact") %>
<h1><%= t 'contact.contact_page_title' %></h1>
<div class="contactBlurb">
  <p><%= t 'contact.contact_page_info_one' %></p>
  <p><%= t 'contact.contact_page_info_two' %></p>
</div>
<%= form_for @message, url: create_message_url do |f| %>
  <%= f.text_field :name, placeholder: 'Name' %>
  <%= f.email_field :email, placeholder: 'Email' %>
  <%= f.text_area :message, placeholder: 'Message' %>
  <%= f.submit 'Send', :class => 'submit_button' %>
  <p class="success"><%= notice %></p>
  <% if @message.errors.any? %>
    <% @message.errors.full_messages.each do |message| %>
      <li class="errors"><%= message %></li>
    <% end %>
  <% end %>
<% end %>
