<%# Home page view %>
<% provide(:title, "Home") %>
<div class="drawAttention">
  <h1 class="bringForward"><%= t 'home.home_page_title' %></h1>
  <button id="about" class="bringForward btn btn-lg btn-primary"><%= t 'home.home_page_button_title' %></button>
  <div class="bringForward popup-content">
    <ol>
      <li><%= t 'home.home_page_user_instruction_one' %></li>
      <li><%= t 'home.home_page_user_instruction_two' %></li>
      <li><%= t 'home.home_page_user_instruction_three' %></li>
      <li><%= t 'home.home_page_user_instruction_four' %></li>
    </ol>
  </div>
</div>
