<% provide(:title, "Edit Discussion") %>
<h1><%= t 'discussion.edit.edit_page_title' %></h1>
<form action="/discussions/<%= @discussion.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>
    <input type="text" name="discussion[title]" value="<%= @discussion.title %>">
  </p>
  <p>
    <textarea type="text" name="discussion[content]"><%= @discussion.content %></textarea>
  </p>
  <input class="submit_button" type="submit" value="update">
</form>
<% if flash[:errors] %>
  <h2 class="editError"><%= t 'discussion.error_header' %></h2>
  <% flash[:errors].each do |e| %>
    <p class="editError"><%= e %></p>
  <% end %>
<% end %>
