<%# Where a user can enter the info for a new discussion %>
<% provide(:title, "New Discussion") %>
<h1><%= t 'discussion.new.new_page_title' %></h1>
<%= form_for(@discussion) do |f| %>
  <%= f.text_field :title, placeholder: 'Title' %>
  <%= f.text_area :content, placeholder: 'Content' %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :discussion_topic_id, value: params[:discussiontopicid] %>
  <%= f.submit :class => 'submit_button' %>
<% end %>
<% if flash[:errors] %>
  <h2 class="editError"><%= t 'discussion.error_header' %></h2>
  <% flash[:errors].each do |e| %>
    <p class="editError"><%= e %></p>
  <% end %>
<% end %>
