<% provide(:title, "Current Discussion") %>
<h1><%= @discussion.title %></h1>
<div class="content">
  <p><%= @discussion.content %></p>
</div>
<div class="comments-container">
  <h2><%= t 'discussion.show.comment_title' %></h2>
  <a href="/comments/new/<%= @discussion.id %>">Add comment</a>
  <% @comments.each do |comment| %>
  <div class="comment">
    <p><%= comment.user.name %>: <%= comment.comment %></p>
    <% if current_user.id == comment.user_id %>
    <a href="/comments/<%= comment.id %>/edit">Edit</a>
    <a href="/comments/<%= comment.id %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
    <% end %>
  </div>
  <% end %>
</div>
<br/>
<br/>
