<% provide(:title, "Current Discussion") %>
<h1><%= @discussion.title %></h1>
<div class="content">
  <p><%= @discussion.content %></p>
</div>
<div class="comments-container">
  <h2><%= t 'discussion.show.comment_title' %></h2>
  <%= link_to "Add comment", new_comment_path(@discussion.id) %>
  <% @comments.each do |comment| %>
  <div class="comment">
    <p><%= comment.comment %></p>
    <% if current_user.id == comment.user_id %>
    <%= link_to "Edit", edit_comment_path(comment.id) %>
    <%= link_to "Delete", comment_path(comment.id), class: "options", data: {method: :delete, confirm: "Are you sure?"} %>
    <% end %>
  </div>
  <% end %>
</div>
<br/>
<br/>
