<% provide(:title, "New comment") %>
<h1><%= t 'comment.new.new_page_title' %></h1>
<%= form_for(@comment) do |f| %>
  <%= f.text_area :comment, placeholder: 'Comment' %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :discussion_id, value: params[:discussionid] %>
  <%= f.submit :class => 'submit_button' %>
<% end %>
<% if flash[:errors] %>
  <h2 class="editError"><%= t 'comment.error_header' %></h2>
  <% flash[:errors].each do |e| %>
    <p class="editError"><%= e %></p>
  <% end %>
<% end %>
