<% provide(:title, "Log in") %>
<h1><%= t 'login.login_page_title' %></h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, placeholder:'email', autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder:'password', autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", :class => 'submit_button' %>
  </div>
<% end %>
